
services:
  backend:
    build:
      dockerfile: apps/Dockerfile
    container_name: app
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    volumes:
      - ./apps:/app
    env_file:
      - ./.env
    environment:
      - NODE_ENV=${NODE_ENV}
    networks:
      - pong-network
    secrets:
      - ssl_cert
      - ssl_key
      - jwt_secret

secrets:
      ssl_cert:
        file: ./cert/cert.pem
      ssl_key:
        file: ./cert/key.pem
      jwt_secret:
        file: ./cert/jwt_secret.txt

networks:
  pong-network:
    driver: bridge

volumes:
  node_deps:
